<div class="search-form mt-5">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Keywords</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="q" 
                placeholder="Input keywords">
        </div>
       
        <div class="form-group">
            <label for="gender-input">Keywords</label>
          <select name="gender" class="form-control" id="gender-input">
              <option value=""> -- Choose Gender --</option>
              <option value="">Male</option>
              <option value="">Female</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>